* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f7f9fc;
    padding: 40px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(99, 22, 22, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: o 3px 10px rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 30%;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
.card p {
    color: black;
    font-size: 0.9rem;
}

@media (max-width: 900px) {
    .card-container {
        justify-content: center;
        gap: 15px;
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .card-container {
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 90%;
    }

}

